html {
  font-family: 'Open Sans', sans-serif;

}

.hero{
  width: 80px;
  height: 80px;
  background-image: url(Logo.svg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
picture > *{
  width: 80%;
}
.body {
  margin: 0px;
}
/* Header/logo Title */
.header {
  padding: 3%;
  text-align: center;
}
h1 {
  font-size: 60px;
}
p, li {
  font-size: 18px;
  line-height: 2;
}


* {
  box-sizing: border-box;

}




/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.side {
  flex: 30%;
  background-color: white;
  padding: 20px;
  text-align: left;

}
.column {
  border-bottom: #eee solid 1px;
  padding-bottom: 100px;
  padding-top: 100px;
  padding-left: 3%;
  padding-right: 3%;
  /*margin: auto;*/
}
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
  text-align: left;

}


/* Responsive layout - when the screen is less than 450px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 450px) {
  .row, .navbar {
    flex-direction: column;
  }
  h1  {
    font-size: 40px;
  }
  .main {
    order: 1;
    padding: 0px;
  }
  .side{
    order: 2;
  }
}

.button {
  -webkit-transition-duration: 0.350s;

}

.button {
  color: #292d31;
  border-radius: 30px;
  font-size: 18px;
  padding: 15px 40px;
  display: inline-block;
  text-transform: uppercase;
  border: #009999 1px solid; /* Kieran Colour */
  outline: none;

}


.button:hover {
  background-color: #009999; /* Kieran Colour */
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
    width:100%;
    height:30%;   // the desired height
    position:absolute;
    bottom:0;
    left:0;
   background:#ebebeb;
   color: #009999;
   text-align: center;
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: #009999;
