html {
  font-family: 'Open Sans', sans-serif;
}

.hero{
  width: 80px;
  height: 80px;
  background-image: url(Logo.svg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 18px;
  line-height: 2;
  letter-spacing: px;
}


* {
  box-sizing: border-box;
}


/* Header/logo Title */
.header {
  padding: 40px;
  text-align: center;

}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
}


.side {
  flex: 30%;
  background-color: white;
  padding: 20px;
  text-align: center;
}


.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
  text-align: center;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
}
.button {
  color: #292d31;
  border-radius: 30px;
  font-size: 18px;
  padding: 15px 40px;
  display: inline-block;
  text-transform: uppercase;
  border: #009999 1px solid; /* Kieran Colour */
  outline: none
}

.button {
  -webkit-transition-duration: 0.350s;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #009999; /* Kieran Colour */
  color: white;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.column1 {
  border-bottom: #eee solid 1px;
  padding-bottom: 100px;
  padding-top: 100px;
}
.column2 {
  border-bottom: #eee solid 1px;
  padding-bottom: 100px;
  padding-top: 100px;
}
.column3 {
  border-bottom: #eee solid 1px;
  padding-bottom: 100px;
  padding-top: 100px;
}
