/*------------------------------------
    - Font sizes
    ------------------------------------*/

h1 {
	font-family: "Outfit", sans-serif;
	font-size: clamp(4em, 2.5rem + 6.6667vw, 6rem);
	font-weight: 700;
}

h2 {
	font-family: "Outfit", sans-serif;
	font-size: clamp(2rem, 1.4375rem + 2.5vw, 2.75rem);
	line-height: 1.23;
	text-align: left;
	font-weight: 200;
}

h3 {
	font-family: "Outfit", sans-serif;
	font-size: clamp(1.5rem, 1.2rem + 1.6667vw, 2rem);
	line-height: 1.23;
	text-align: left;
	font-weight: 200;
	color: "var(--light)";
}

h4 {
	font-family: "Outfit", sans-serif;
	font-size: clamp(1.375rem, 1.0938rem + 1.25vw, 1.75rem);
	line-height: 2rem;

	font-weight: 300;
}

h5 {
	font-family: "Outfit", sans-serif;
	font-size: clamp(1.25rem, 1.0625rem + 0.8333vw, 1.5rem);
	font-weight: 300;
}

h6 {
	font-family: "Outfit", sans-serif;
	font-size: clamp(1rem, 1.0313rem + 0.4167vw, 1.25rem);
	font-weight: 700;
}

p {
	font-family: "Outfit", sans-serif;
	font-size: clamp(1rem, 1.0313rem + 0.4167vw, 1.25rem);
	line-height: 1.5em;
	font-weight: 300;
	/* margin-bottom: 1.5rem; */
}

li {
	font-family: "Outfit", sans-serif;
	font-size: 1rem;
	line-height: 1.4rem;
	font-weight: 300;
	text-decoration: none;
}
