html,
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}


/*------------------------------------- Header images ------------------------------------*/

.vmheader {

    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url("/images/home/VMheader414.jpg");
}


.wweheader {

    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url("/images/home/wweheader414.webp"), url("/images/home/wweheader414.jpg");
}




@media (min-width: 25.875em) {
    .vmheader {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url("/images/home/VMheader768.jpg");
    }

    .wweheader {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url("/images/home/wweheader768.webp"), url("/images/home/wweheader768.jpg");
    }
}

@media (min-width: 80em) {
    .vmheader {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url("/images/home/VMheader1920.jpg");
    }

    .wweheader {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url("/images/home/wweheader1920.webp"), url("/images/home/wweheader1920.jpg");
    }
}


/*------------------------------------
- Font sizes
------------------------------------*/

h1 {
    font-family: 'Rubik', sans-serif;
    font-size: clamp(4em, 2.5000rem + 6.6667vw, 6rem);
    font-weight: 700;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: clamp(2rem, 1.4375rem + 2.5000vw, 2.75rem);
    line-height: 1.23;
    text-align: left;
    font-weight: 300;

}

h3 {
    font-family: 'Rubik', sans-serif;
    font-size: clamp(1.5rem, 1.1250rem + 1.6667vw, 2rem);
    line-height: 1.23;
    text-align: left;
    font-weight: 500;

}

h4 {
    font-family: 'Rubik', sans-serif;
    font-size: clamp(1.375rem, 1.0938rem + 1.2500vw, 1.75rem);
    line-height: 2rem;
    text-align: left;
    font-weight: 500;

}

h5 {
    font-family: 'Rubik', sans-serif;
    font-size: clamp(1.25rem, 1.0625rem + 0.8333vw, 1.5rem);
    font-weight: 500;
}

h6 {
    font-family: 'Rubik', sans-serif;
    font-size: clamp(1rem, 1.0313rem + 0.4167vw, 1.25rem);
    font-weight: 700;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 400;
}

li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
}


/*------------------------------------
- Elements
------------------------------------*/
a:hover {
    text-decoration: none;
}

.nopadding {
    padding: 0 !important;
}

.containerfluid {
    margin: 3rem 0;
}

.fullwidthimage {
    padding: 0 !important;
    margin: 0 !important;
    width: 100vw;
}

.cover {
    width: 100vw;
    height: 107vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#underline {
    fill: #009999;
}

.gridimage {
    padding: 0;
}




#portfolioimage:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.025);
    z-index: 1;
}

#portfolioframe {
    overflow: hidden;
}


/*------------------------------------
- About image
------------------------------------*/

#about-image {
    filter: saturate(0%) contrast(0%)
}

#about-image:hover {
    filter: brightness(100%) contrast(100%);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    transform: scaleX(1.15) scaleY(1.15);
}


/*------------------------------------
- Slant
------------------------------------*/

.slant.header-slant {
    position: relative;
    z-index: 200;
    width: 0;
    height: 0;
    pointer-events: none;
}

.right.header-slant {
    margin-top: calc(-10vw + 1px);
    border-top: 10vw solid transparent;
    border-right: 100vw solid white;
}

.overlaytext {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    /* width: 80%; */
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/*------------------------------------
- Animations
------------------------------------*/

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.8);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.animate-pop-in {
    animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
}

.header-title {
    animation-delay: .8s;
}

.header-subtitle {
    animation-delay: 1s;

}

.image-animation {
    /* box-shadow: 1em 1em 2em .25em rgba(0, 0, 0, .2); */
    opacity: 0;
    transition: opacity .4s .25s ease-in-out;
    will-change: opacity;
}

.image-animation.is-visible {
    opacity: 1;
    ;
}

.container-animation-left {
    opacity: 0;
    transform: translateX(-4em);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.container-animation-left.is-visible {
    opacity: 1;
    transform: translateX(0);
}

.container-animation-right {
    opacity: 0;
    transform: translateX(4em);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.container-animation-right.is-visible {
    opacity: 1;
    transform: translateX(0);
}


/*------------------------------------
- Footer 
------------------------------------*/

footer {
    background: #FAFBFB;
    color: white;
}

footer a {
    color: #6c757d;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #009999;
    text-decoration: none;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}


/*------------------------------------
- Social Icons
------------------------------------*/


/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoInstagram:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoYoutube:hover {
    background-color: #FF0000;
}

.social-network a.icoTwitter:hover {
    background-color: #00aced;
}

.social-network a.icoTwitch:hover {
    background-color: #6441a5;
}

.social-network a.icoTwitch:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoYoutube:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}



/*------------------------------------
- COLOR ksd
------------------------------------*/

.bg-ksd {
    background-color: #009999 !important;
}


.btn-outline-ksd {
    color: #009999;
    background-color: transparent;
    border-color: #009999;
}

.btn-outline-ksd:hover {
    color: #fff;
    background-color: #009999;
    border-color: #009999;
}

.btn-outline-ksd:focus,
.btn-outline-ksd.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 153, 153, 0.5);
}

.btn-outline-ksd.disabled,
.btn-outline-ksd:disabled {
    color: #009999;
    background-color: transparent;
}

.btn-outline-ksd:not(:disabled):not(.disabled):active,
.btn-outline-ksd:not(:disabled):not(.disabled).active,
.show>.btn-outline-ksd.dropdown-toggle {
    color: #fff;
    background-color: #009999;
    border-color: #009999;
}

.btn-outline-ksd:not(:disabled):not(.disabled):active:focus,
.btn-outline-ksd:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-ksd.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 153, 153, 0.5);
}


/*------------------------------------
- Video
------------------------------------*/



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}