{% assign current_index = -1 %}
{% for item in site.data.illustrations %}
{% if item.slug == page.slug %}
{% assign current_index = forloop.index0 %}
{% endif %}
{% endfor %}

<div class="container mb-4">
    <div class="row">
        <div class="col-4 text-center">
            {% if current_index > 0 %}
            {% assign prev_index = current_index | minus: 1 %}
            {% assign prev_item = site.data.illustrations[prev_index] %}
            <a href="{{ prev_item.url | default: '/illustration/' | append: prev_item.slug | relative_url }}">
                <i class="bi bi-arrow-left-circle dark" style="font-size: 24px;"></i>
            </a>
            {% endif %}
        </div>
        <div class="col-4 text-center">
            <a href="/illustration/index.html">
                <i class="dark bi bi-grid-fill" style="font-size: 24px;"></i>
            </a>
        </div>
        <div class="col-4 text-center">
            {% assign items_size = site.data.illustrations | size %}
            {% assign next_index = current_index | plus: 1 %}
            {% if next_index < items_size %} {% assign next_item=site.data.illustrations[next_index] %} <a
                href="{{ next_item.url | default: '/illustration/' | append: next_item.slug | relative_url }}">
                <i class="bi bi-arrow-right-circle dark" style="font-size: 24px;"></i>
                </a>
                {% endif %}
        </div>
    </div>
</div>