
.container {
  position: relative;
  width: 375px;
  height: 667px;
}



#button1 {
  position: absolute;
  top: 190px;
  left: 330px;
  background-color: #009999;
  opacity: 0.5;
  padding: 22px;
  cursor: pointer;
}

#button2 {
  position: absolute;
  top: 595px;

  left: 0;
  width: 375px;
  background-color: #009999;
  opacity: 0.5;
  height: 68px;
  cursor: pointer;
}
#button3 {
  position: absolute;
    top: 525px;
  left: 0;
  width: 375px;
  background-color: #009999;
  opacity: 0.5;
  height: 68px;
  cursor: pointer;
}
