<style>[class$="header"],
[class$="scrolling"] {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
}

    {
    % for header in site.data.headers %
}

. {
        {
        header.name
    }
}

header {

    /* Base/mobile (414px) */
        {
        % assign base=header.sizes | where: "width", 414 | first %
    }

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)) {
        % if base.avif %
    }

    ,
    url("{{ base.avif }}") {
        % endif %
    }

        {
        % if base.webp %
    }

    ,
    url("{{ base.webp }}") {
        % endif %
    }

        {
        % if base.jpg %
    }

    ,
    url("{{ base.jpg }}") {
        % endif %
    }

    ;

    /* Tablet (768px) */
        {
        % assign tablet=header.sizes | where: "width", 768 | first %
    }

    @media (min-width: 30em) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)) {
            % if tablet.avif %
        }

        ,
        url("{{ tablet.avif }}") {
            % endif %
        }

            {
            % if tablet.webp %
        }

        ,
        url("{{ tablet.webp }}") {
            % endif %
        }

            {
            % if tablet.jpg %
        }

        ,
        url("{{ tablet.jpg }}") {
            % endif %
        }

        ;
    }

    /* Desktop (1920px) */
        {
        % assign desktop=header.sizes | where: "width", 1920 | first %
    }

    @media (min-width: 62em) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)) {
            % if desktop.avif %
        }

        ,
        url("{{ desktop.avif }}") {
            % endif %
        }

            {
            % if desktop.webp %
        }

        ,
        url("{{ desktop.webp }}") {
            % endif %
        }

            {
            % if desktop.jpg %
        }

        ,
        url("{{ desktop.jpg }}") {
            % endif %
        }

        ;
    }
}

    {
    % endfor %
}

/* Special cases */
.keyboardheader {
    @media (min-width: 30em) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
            url("/images/keyboard/Youview-onscreenkeyboard-hero-768.jpg");
    }

    @media (min-width: 62em) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
            url("/images/keyboard/Youview-onscreenkeyboard-hero-1920.jpg");
    }
}

</style>