body, html {
  /* height: 100%; */
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.navbar>* {
  box-sizing: content-box;
}

.navbar {
  overflow: hidden;
  vertical-align: baseline;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 0 auto;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: #686868;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  box-sizing: content-box;
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  border-bottom: 2px solid #009999;
  color: #009999;
  padding: 12px 20px;
  margin-top: 2px;
}

/* Header/logo Title */
.header {
  padding: 12px;
  background: #ebebeb;
  color: #686868;
  position: fixed;
  width: 100vw;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.header .icon {
  display: none;
}


span {
  font-size: 18px;
  line-height: 2;
  color: white;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
  line-height: 1.23;
  text-align: left;
  text-transform: uppercase;

  font-weight: 600;
  font-style: normal;
  padding-right: 20px;
}

h6 {
  font-size: 14px;
}

p, li {
  font-size: 18px;
  line-height: 2;
  color: #a5b3c1;
}


.row {
  display: flex;

  flex-direction:row;
  padding-top: 76px;
  /* height:100vh; */

}

.side {
  padding-left: 2%;
  flex: 30%;
  /* align: top; */
}

/* Main portfolio-item */
.main {
flex:70%;
/* flex-shrink: 1; */
/* background-size: contain;
 background-repeat: no-repeat; */

/* min-width: 100v; */


}


/* Create four equal portfolio-items that sits next to each other */
.portfolio-item {
  -webkit-box-flex: 19%;
  -ms-flex: 19%;
  flex: 19%;
  /* max-width: 33%; */
  padding: 0 4px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.portfolio-item img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two portfolio-item-layout instead of four portfolio-items */
@media (max-width: 800px) {
  .portfolio-item {
    -webkit-box-flex: 48%;
    -ms-flex: 48%;
    flex: 48%;
    max-width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .row, .main{
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
      /* padding-top: 76px; */
      /* min-width: 100vw; */
    }
  .portfolioheaderimage {
    background-attachment: scroll;
  }
  .navbar {
    max-width: 100%;
    flex-direction: column;
  }
  .portfolioheaderimage {
    background-attachment: scroll;
  }

  #headeremail {
    display: none;
  }

  .header a:not(:only-child) {
    display: none;
  }

  .header a.icon {
    float: inherit;
    display: block;
  }

  .topnav.responsive {
    position: fixed;
  margin-bottom: 3%;
  }

  .topnav.responsive a.icon {
    position: fixed;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  #headeremail {
    display: none;
  }

}


@media (max-width: 450px) {
  .portfolio-item, .navbar,  {
    max-width: 100%;
    flex-direction: column;
  }

  .row, .main{
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
      /* padding-top: 76px; */
    }

  #headeremail {
    display: none;
  }

  .portfolioheaderimage {
    background-attachment: scroll;
  }
  #navlinks {
    background-color: 009999
  }
}

/* Responsive layout - when the screen is less than 450px wide, make the two portfolio-items stack on top of each other instead of next to each other */
@media screen and (max-width: 360px) {
  .row, .main{
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
      padding-top: 76px;
  }
#navlinks {
  background-color: 009999
}

  h1 {
    font-size: 40px;
  }
}

.footer {
  width: 100%;
  height: 50px;
  position: absolute;
  /* bottom: 0; */
  overflow: hidden;
  /* left: 0; */
  background: #ebebeb;
  /* color: #009999; */
  text-align: center;
}
