---
layout: default
title: 4 Rebrand
dark_theme: true
description: A showcase of Channel 4 UX/UI design work


---
{% include project-header.html project="c4rebrand" %}


<div class="containerfluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-2">
        <h6 class="text-light">Brief</h6>
        <p style="color: var(--light)">
          Incorporate the new Pentagram-produced Channel 4 branding across all user touchpoints in the updated TV app
          across all
          currently released platforms.
        </p>
      </div>

      <div class="col">

        <h6 style="color: var(--light)">Client</h6>
        <p style="color: var(--light)">Channel 4</p>
        <h6 style="color: var(--light)">Project Date</h6>
        <p style="color: var(--light)">2023</p>
        <h6 style="color: var(--light)">Role</h6>
        <p style="color: var(--light)">Senior Big Screen Designer (contractor)</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-1">
        <h2 style="color: var(--channel4)">Redesign</h2>
      </div>
      <div class="col-md-8 offset-md-2">
        <p style="color: var(--light)">
          Channel 4’s video-on-demand service was rebranded from All4 into a single master brand under the channel 4
          name, and
          with that came a slew of branding changes that needed to be incorporated across the service.

        </p>
      </div>
    </div>
  </div>
</div>





{% include responsive-image.html
name="4rebrand/c4-rebrand"
sizes=true
container_class="text-center" %}



<div class=" containerfluid">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 style="color: var(--light)">
          Visual Changes</h3>
      </div>
      <div class="col-md-8 offset-md-2">
        <p style="color: var(--light)">The main visual element change for this release was the brand colour of the
          app
          applied across the
          platform, from a teal
          and yellow two-colour theme into a single colour which is branded as Arsenic Green.
          <br><br>
          Moving to a single colour presented a myriad of challenges, especially on the TV platform where we had
          to
          use a
          secondary colour to not interfere with the main user focus state in multiple interaction patterns. Such
          patterns needed
          to be adjusted and remade with one single colour in place, whilst also maintaining Channel 4’s
          accessibility
          responsibilities to the end user.
        </p>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 pt-3">{% include responsive-image.html
      name="4rebrand/c4-rebrand-Brand"
      alt="Our company logo"
      width="300"
      container_class="text-center" %}

    </div>
    <div class="col-md-6 pt-3">{% include responsive-image.html
      name="4rebrand/c4-rebrand-Player"
      alt="Our company logo"

      container_class="text-center" %}

    </div>
    <div class="col-md-6 pt-3">{% include responsive-image.html
      name="4rebrand/c4-rebrand-MyTV"


      container_class="text-center"%}

      </picture>
    </div>
    <div class="col-md-6 pt-3">{% include responsive-image.html
      name="4rebrand/c4-rebrand-search"

      container_class="text-center"%}

    </div>
  </div>
</div>
</div>



<div class="containerfluid  ">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 style="color: var(--light)">
          Small Tweaks</h3>
      </div>
      <div class="col-md-8 offset-md-2">
        <p style="color: var(--light)">
          There was also a huge number of smaller tweaks that had to be made as we incorporated the new branding
          into
          the app.<br><br>
          Graphical elements the user relied on for situations like a new episode of their favourite brand being
          released and
          their personal progress into content had to be redesigned.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 style="color: var(--light)">
          Animations</h3>
      </div>
      <div class="col-md-8 offset-md-2">
        <p style="color: var(--light)">
          Pentagram had also produced motion design guidelines for the brand as a whole, that we have started to
          integrate inito
          the platform.<br><br> Alongside the new branding was a new loading animation that was recreated and
          implemented as
          well as
          adjusting animation curves and timings across the application
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col"> <video embed-responsive loop muted style="width:100%"
          poster="\images\4rebrand\4rebrand-before.jpg" onclick="if (this.paused ? this.play() : this.pause());" />
        <source src="/images\4rebrand\4rebrand-before.webm" type="video/webm">
        <source src="/images\4rebrand\4rebrand-before.webm" type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
        <img decoding="async" class="img-fluid" loading="lazy"
          alt="video showing the difference in the channel 4 app before and after the rebrand" />
        </video>
      </div>

      <div class="col-md-6"> <video embed-responsive loop muted style="width:100%"
          poster="\images\4rebrand\imageposter.jpg" onclick="if (this.paused ? this.play() : this.pause());" />
        <source src="/images\4rebrand\4rebrand-splash.webm" type="video/webm">
        <source src="/images\4rebrand\4rebrand-splash.webm" type="video/mp4">
        Sorry, your browser doesn't support embedded videos.<img decoding="async" class="img-fluid" loading="lazy"
          alt="video showing the new channel 4 exploding loading animation" />
        </video>
      </div>
    </div>
  </div>

  <!-- images -->

</div>
</div>


<div class="containerfluid  ">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <h2 style="color: var(--channel4)">Working with Developers & Testing</h2>
      </div>
      <div class="col-md-8 offset-md-2">
        <p style="color: var(--light)">
          Although this project was a big change from a design perspective, it was an even bigger change from a
          developmental
          perspective. <br>I worked very closely with the offshore teams to create the look and feel of the new
          brand.<br><br>
          As every screen in the whole platform was changing it also led to lots of build reviews and guerilla
          testing
          to ensure
          that what the teams had produced matched the designs.

        </p>
      </div>
    </div>
  </div>
</div>